<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlessingChannel"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.gms.auth.api.credentials.CredentialPicker"
            android:value="true" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${kakao_native_key}"/>

<!--        &lt;!&ndash; ✅ AuthCodeHandlerActivity → intent-filter 필요 없음! export만 설정 &ndash;&gt;-->
<!--        <activity-->
<!--            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"-->
<!--            android:exported="true" />-->

        <!-- ✅ MainActivity에 intent-filter 추가 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.BlessingChannel">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="nidlogin" android:host="oauth" />
            </intent-filter>
<!--            &lt;!&ndash; ✅ 카카오 로그인 콜백 intent-filter &ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data-->
<!--                    android:scheme="kakao64eb2c66"-->
<!--                    android:host="oauth" />-->
<!--            </intent-filter>-->

            <!-- 앱 실행용 intent-filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 카카오 로그인, 인가코드를 받기 위한 액티비티 -->
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="oauth"
                    android:scheme="${kakao_scheme}" />
            </intent-filter>

        </activity>

    </application>

</manifest>

    <!--<?xml version="1.0" encoding="utf-8"?>-->
<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--    xmlns:tools="http://schemas.android.com/tools">-->
<!--    <uses-permission android:name="android.permission.INTERNET" />-->

<!--    <application-->
<!--        android:allowBackup="true"-->
<!--        android:dataExtractionRules="@xml/data_extraction_rules"-->
<!--        android:fullBackupContent="@xml/backup_rules"-->
<!--        android:icon="@mipmap/ic_launcher"-->
<!--        android:label="@string/app_name"-->
<!--        android:roundIcon="@mipmap/ic_launcher_round"-->
<!--        android:supportsRtl="true"-->
<!--        android:theme="@style/Theme.BlessingChannel"-->
<!--        tools:targetApi="31">-->
<!--        <activity-->
<!--            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"-->
<!--            android:exported="true" >-->
<!--        <intent-filter>-->
<!--            <action android:name="android.intent.action.VIEW" />-->
<!--            <category android:name="android.intent.category.DEFAULT" />-->
<!--            <category android:name="android.intent.category.BROWSABLE" />-->

<!--            &lt;!&ndash; Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" &ndash;&gt;-->
<!--&lt;!&ndash;            <data android:host="oauth"&ndash;&gt;-->
<!--&lt;!&ndash;                android:scheme="kakao64eb2c66" />&ndash;&gt;-->
<!--            <data android:scheme="kakao64eb2c66" />-->

<!--        </intent-filter>-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true"-->
<!--            android:label="@string/app_name"-->
<!--            android:theme="@style/Theme.BlessingChannel">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--    </application>-->

<!--</manifest>-->